.underline-link {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: 2px solid #000;
    transition: width 0.3s ease-in-out;
  }

  &:hover::before {
    width: 100%;
  }
}
